.App {
  margin: 0px !important;
  text-align: center;
}

.header {
  padding: 10px;
  color: white;
  margin-top: 0px;
  text-align: center;
  background-color: #2E7C31;
}

.book-img {
  max-height: 250px;
  max-width: 180px;
  object-fit: cover;
}

.book-text {
  text-align: left;
}